.content-scenery{
    background: $third-color;
    color:$fourth-color;
    min-height: 200px;
    padding:3em 0;
    h1,h2{
        text-align: center;
    }
    a{
        color:$fourth-color; 
        text-decoration: underline;
    }
}

.content-hiking{
    background: $secondary-color;
    color:$third-color;
    min-height: 200px;
    padding:3em 0;
    h1,h2{
        text-align: center;
    }
    a{
        color:$third-color; 
        text-decoration: underline;
    }
}

.content-ecology{
    background: $third-color;
    color:$fourth-color;
    min-height: 200px;
    padding:3em 0;
    h1,h2{
        text-align: center;
    }
    a{
        color:$fourth-color; 
        text-decoration: underline;
    }
}

.content-video{
    background: $secondary-color;
    color:$third-color;
    min-height: 200px;
    padding:3em 0;
    h1,h2{
        text-align: center;
    }
    a{
        color:$third-color;
        text-decoration: underline;
    }
}

.content-footer{
    background: $third-color;
    color:$secondary-color;
    min-height: 200px;
    padding:1.5em 0;
}

.content-acknowledgement{
    color:$fourth-color;
}