.content-scenery{
    background: $third-color;
    color:$fourth-color;
    min-height: 200px;
    padding:3em 0;
    h1,h2,h3,h4,h5,h6{
        text-align: center;
    }
}

.content-hiking{
    background: $secondary-color;
    color:$primary-color;
    min-height: 200px;
    padding:3em 0;
    h1,h2,h3,h4,h5,h6{
        text-align: center;
    }
}