.hero{
    height: 70vh;
    background-image: url('../images/tone_forest.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: $primary-color;
    background-blend-mode: multiply;
}