@import '_colors';
@import '_fonts';
@import 'bootstrap';
@import '_content';
@import '_hero';
@import '_button';
@import '_images';

body{
	color:$primary-color;
	margin:0;
	padding:0;
	font-size: 1.85em;
}

.container-fluid{
	position: relative;
}

::selection{
	background:$primary-color;
	color:white;
}

::-moz-selection{
	background:$primary-color;
	color:white;
}

