@import '_fonts';
@import '_colors';
@import 'bootstrap';
@import '_section';
@import '_hero';

body{
	color:$primary-color;
	margin:0;
	padding:0;
	font-family: 'Fjalla One', sans-serif;
}

::selection{
	background:$primary-color;
	color:white;
}

::-moz-selection{
	background:$primary-color;
	color:white;
}

